<a href="https://colab.research.google.com/github/rajucherry03/Python-For-Data-Science/blob/main/Exp7PandasSeriesandDataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#series()
series=pd.Series(["ram","sam","jam","tom"])
print(series)

0    ram
1    sam
2    jam
3    tom
dtype: object

In [3]:
#type
print(type(series))

<class 'pandas.core.series.Series'>

In [11]:
#length
lh=len(series)
print(lh)

4

In [6]:
#changing index value
dict={1:[10,20,30],2:[10,20,30],"A":[10,20,30],3:[10,20,30]}
df=pd.Series(dict)
print(df)

1    [10, 20, 30]
2    [10, 20, 30]
A    [10, 20, 30]
3    [10, 20, 30]
dtype: object

In [25]:
#create dataframe  with list
ls1=[10,20,30]
ls2=[1,2,3]
ls=pd.Series(ls1)
lss=pd.Series(ls2)
frame={"Group1":ls,"Group2":lss}
result=pd.DataFrame(frame)
print(result)

   Group1  Group2
0      10       1
1      20       2
2      30       3

In [14]:
x=pd.Series(3,index=[1,2,3,4,5])
print(x)

1    3
2    3
3    3
4    3
5    3
dtype: int64

In [20]:
#dataframe from dict of series
data=pd.DataFrame({1:[1,2,3],2:[1,2,3],3:[1,2,3]})
print(data)

   1  2  3
0  1  1  1
1  2  2  2
2  3  3  3

In [24]:
#pandas dataframe into series
data=pd.DataFrame({"maths":pd.Series([10,20,30]),"eng":pd.Series([10,20,30]),"ds":pd.Series([10,20,30]),})
print(data)

   maths  eng  ds
0     10   10  10
1     20   20  20
2     30   30  30

In [26]:
ls1=[10,20,30]
ls2=[1,2,3]
ls=pd.Series(ls1)
lss=pd.Series(ls2)
frame={"Group1":ls,"Group2":lss}
result=pd.DataFrame(frame)
print(result)

   Group1  Group2
0      10       1
1      20       2
2      30       3

In [28]:
data = [{'man': 'can', 'fan': 'tan', 'rock': 'list'},{'see':10, 'me': 20, 'key': 30}]
df = pd.DataFrame(data,index=['1', '2'])
print(df)

   man  fan  rock   see    me   key
1  can  tan  list   NaN   NaN   NaN
2  NaN  NaN   NaN  10.0  20.0  30.0