<a href="https://colab.research.google.com/github/rajucherry03/Python-For-Data-Science/blob/main/Exp8pandasoperation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [31]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/1-Pds Lab/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [30]:
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [25]:
# (a) Visualize the first and last 10 records
print("First 10 records:")
print(df.head(10))
print("Last 10 records:")
print(df.tail(10))

First 10 records:
   race/ethnicity parental level of education         lunch  \
1         group C                some college      standard
6         group B                some college      standard
8         group D                 high school  free/reduced
13        group A                some college      standard
18        group C             master's degree  free/reduced
21        group B                some college  free/reduced
24        group D           bachelor's degree  free/reduced
35        group E          associate's degree      standard
38        group D          associate's degree  free/reduced
43        group B                some college  free/reduced

   test preparation course  math score  reading score  writing score  Ranks
1                completed          69             90             88  302.0
6                completed          88             95             92  326.5
8                completed          64             64             67   95.5
13               completed          78             72             70  126.5
18               completed          46             42             46   10.5
21               completed          65             75             70  126.5
24               completed          74             71             80  234.0
35               completed          81             81             79  220.5
38               completed          75             90             88  302.0
43               completed          59             65             66   88.0
Last 10 records:
    race/ethnicity parental level of education         lunch  \
978        group D                 high school      standard
982        group B            some high school      standard
983        group A                some college      standard
987        group E            some high school      standard
989        group D                some college  free/reduced
990        group E                 high school  free/reduced
991        group B            some high school      standard
995        group E             master's degree      standard
997        group C                 high school  free/reduced
998        group D                some college      standard

    test preparation course  math score  reading score  writing score  Ranks
978               completed          55             41             48   13.0
982               completed          79             85             86  288.0
983               completed          78             87             91  320.0
987               completed          81             75             76  181.5
989               completed          67             86             83  267.0
990               completed          86             81             75  171.0
991               completed          65             82             78  208.0
995               completed          88             99             95  340.0
997               completed          59             71             65   81.0
998               completed          68             78             77  194.5

In [32]:
# (b) Get the shape, index, and column details
print("Shape:", df.shape)
print("Index:", df.index)
print("Columns:", df.columns)

Shape: (1000, 8)
Index: RangeIndex(start=0, stop=1000, step=1)
Columns: Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [33]:
# (c) Select/Delete records(rows)/columns based on conditions
# Select rows based on a condition
selected_rows = df[df['math score'] > 50]
print(selected_rows)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
4      male        group C                some college      standard
5    female        group B          associate's degree      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
4                      none          76             78             75
5                      none          71             83             78
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[850 rows x 8 columns]

In [36]:
# Delete rows based on a condition
df = df[df['test preparation course'] != 'none']
print(df)

     gender race/ethnicity parental level of education         lunch  \
1    female        group C                some college      standard
6    female        group B                some college      standard
8      male        group D                 high school  free/reduced
13     male        group A                some college      standard
18     male        group C             master's degree  free/reduced
..      ...            ...                         ...           ...
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
995  female        group E             master's degree      standard
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard

    test preparation course  math score  reading score  writing score
1                 completed          69             90             88
6                 completed          88             95             92
8                 completed          64             64             67
13                completed          78             72             70
18                completed          46             42             46
..                      ...         ...            ...            ...
990               completed          86             81             75
991               completed          65             82             78
995               completed          88             99             95
997               completed          59             71             65
998               completed          68             78             77

[358 rows x 8 columns]

In [37]:
# Delete columns
df = df.drop(columns=['test preparation course'])
print(df)

     gender race/ethnicity parental level of education         lunch  \
1    female        group C                some college      standard
6    female        group B                some college      standard
8      male        group D                 high school  free/reduced
13     male        group A                some college      standard
18     male        group C             master's degree  free/reduced
..      ...            ...                         ...           ...
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
995  female        group E             master's degree      standard
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard

     math score  reading score  writing score
1            69             90             88
6            88             95             92
8            64             64             67
13           78             72             70
18           46             42             46
..          ...            ...            ...
990          86             81             75
991          65             82             78
995          88             99             95
997          59             71             65
998          68             78             77

[358 rows x 7 columns]

In [40]:
# (d) Perform ranking and sorting operations
# Rank values in a column
df['ranked_column'] = df['math score'].rank()
print(df)

     gender race/ethnicity parental level of education         lunch  \
1    female        group C                some college      standard
6    female        group B                some college      standard
8      male        group D                 high school  free/reduced
13     male        group A                some college      standard
18     male        group C             master's degree  free/reduced
..      ...            ...                         ...           ...
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
995  female        group E             master's degree      standard
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard

     math score  reading score  writing score  ranked_column
1            69             90             88          177.5
6            88             95             92          320.5
8            64             64             67          120.5
13           78             72             70          256.0
18           46             42             46           19.5
..          ...            ...            ...            ...
990          86             81             75          306.0
991          65             82             78          131.5
995          88             99             95          320.5
997          59             71             65           82.0
998          68             78             77          167.0

[358 rows x 8 columns]

In [41]:
# Sort the DataFrame by a column
sorted_df = df.sort_values('math score')
print(sorted_df)

     gender race/ethnicity parental level of education         lunch  \
842  female        group B                 high school  free/reduced
683  female        group C            some high school  free/reduced
785  female        group B            some high school      standard
902  female        group A                 high school  free/reduced
339  female        group D            some high school  free/reduced
..      ...            ...                         ...           ...
306    male        group E                some college      standard
916    male        group E           bachelor's degree      standard
149    male        group E          associate's degree  free/reduced
623    male        group A                some college      standard
625    male        group D                some college      standard

     math score  reading score  writing score  ranked_column
842          23             44             36            1.0
683          29             40             44            2.0
785          32             51             44            3.0
902          34             48             41            4.0
339          35             55             60            5.0
..          ...            ...            ...            ...
306          99             87             81          353.5
916         100            100            100          356.5
149         100            100             93          356.5
623         100             96             86          356.5
625         100             97             99          356.5

[358 rows x 8 columns]

In [42]:
# (e) Perform statistical operations on given columns
# Calculate mean, median, and standard deviation
mean_value = df['math score'].mean()
median_value = df['math score'].median()
std_value = df['math score'].std()
print("Mean",mean_value)
print("Median",median_value)
print("Standard deviation",std_value)

Mean 69.69553072625699
Median 69.0
Standard deviation 14.444699225388476

In [44]:
# (f) Find count and uniqueness of categorical values
# Count of unique values in a column
count_values = df['math score'].value_counts()
print(count_values)

65    16
67    14
77    11
68    11
74    11
      ..
29     1
32     1
23     1
39     1
34     1
Name: math score, Length: 66, dtype: int64

In [43]:
# Number of unique values in a column
unique_values = df['math score'].nunique()
print(unique_values)

66

In [45]:
# (g) Rename single/multiple columns
# Rename a single column
df = df.rename(columns={'math score': 'MATH score'})
print(df)

     gender race/ethnicity parental level of education         lunch  \
1    female        group C                some college      standard
6    female        group B                some college      standard
8      male        group D                 high school  free/reduced
13     male        group A                some college      standard
18     male        group C             master's degree  free/reduced
..      ...            ...                         ...           ...
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
995  female        group E             master's degree      standard
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard

     MATH score  reading score  writing score  ranked_column
1            69             90             88          177.5
6            88             95             92          320.5
8            64             64             67          120.5
13           78             72             70          256.0
18           46             42             46           19.5
..          ...            ...            ...            ...
990          86             81             75          306.0
991          65             82             78          131.5
995          88             99             95          320.5
997          59             71             65           82.0
998          68             78             77          167.0

[358 rows x 8 columns]

In [46]:
# Rename multiple columns
df = df.rename(columns={'math score': 'MAT sc', 'ranked_column': 'Ranks'})
print(df)

     gender race/ethnicity parental level of education         lunch  \
1    female        group C                some college      standard
6    female        group B                some college      standard
8      male        group D                 high school  free/reduced
13     male        group A                some college      standard
18     male        group C             master's degree  free/reduced
..      ...            ...                         ...           ...
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
995  female        group E             master's degree      standard
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard

     MATH score  reading score  writing score  Ranks
1            69             90             88  177.5
6            88             95             92  320.5
8            64             64             67  120.5
13           78             72             70  256.0
18           46             42             46   19.5
..          ...            ...            ...    ...
990          86             81             75  306.0
991          65             82             78  131.5
995          88             99             95  320.5
997          59             71             65   82.0
998          68             78             77  167.0

[358 rows x 8 columns]