<a href="https://colab.research.google.com/github/rajucherry03/Python-For-Data-Science/blob/main/Exp8pandasoperation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/1-Pds Lab/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
# (a) Visualize the first and last 10 records
print("First 10 records:")
print(df.head(10))
print("Last 10 records:")
print(df.tail(10))

First 10 records:
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
5                    none          71             83             78
6               completed          88             95             92
7                    none          40             43             39
8               completed          64             64             67
9                    none          38             60             50
Last 10 records:
     gender race/ethnicity parental level of education         lunch  \
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
992  female        group D          associate's degree  free/reduced
993  female        group D           bachelor's degree  free/reduced
994    male        group A                 high school      standard
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
990               completed          86             81             75
991               completed          65             82             78
992                    none          55             76             76
993                    none          62             72             74
994                    none          63             63             62
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

In [4]:
# (b) Get the shape, index, and column details
print("Shape:", df.shape)
print("Index:", df.index)
print("Columns:", df.columns)

Shape: (1000, 8)
Index: RangeIndex(start=0, stop=1000, step=1)
Columns: Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [10]:
# (c) Select/Delete records(rows)/columns based on conditions
# Select rows based on a condition
selected_rows = df[df['math score'] > 50]
print(selected_rows)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
4      male        group C                some college      standard
5    female        group B          associate's degree      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
4                      none          76             78             75
5                      none          71             83             78
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[850 rows x 8 columns]

In [11]:
# Delete rows based on a condition
df = df[df['test preparation course'] != 'none']
print(df)

     gender race/ethnicity parental level of education         lunch  \
1    female        group C                some college      standard
6    female        group B                some college      standard
8      male        group D                 high school  free/reduced
13     male        group A                some college      standard
18     male        group C             master's degree  free/reduced
..      ...            ...                         ...           ...
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
995  female        group E             master's degree      standard
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard

    test preparation course  math score  reading score  writing score
1                 completed          69             90             88
6                 completed          88             95             92
8                 completed          64             64             67
13                completed          78             72             70
18                completed          46             42             46
..                      ...         ...            ...            ...
990               completed          86             81             75
991               completed          65             82             78
995               completed          88             99             95
997               completed          59             71             65
998               completed          68             78             77

[358 rows x 8 columns]

In [12]:
# Delete columns
df = df.drop(columns=['gender'])
print(df)

    race/ethnicity parental level of education         lunch  \
1          group C                some college      standard
6          group B                some college      standard
8          group D                 high school  free/reduced
13         group A                some college      standard
18         group C             master's degree  free/reduced
..             ...                         ...           ...
990        group E                 high school  free/reduced
991        group B            some high school      standard
995        group E             master's degree      standard
997        group C                 high school  free/reduced
998        group D                some college      standard

    test preparation course  math score  reading score  writing score
1                 completed          69             90             88
6                 completed          88             95             92
8                 completed          64             64             67
13                completed          78             72             70
18                completed          46             42             46
..                      ...         ...            ...            ...
990               completed          86             81             75
991               completed          65             82             78
995               completed          88             99             95
997               completed          59             71             65
998               completed          68             78             77

[358 rows x 7 columns]

In [13]:
# (d) Perform ranking and sorting operations
# Rank values in a column
df['ranked_column'] = df['writing score'].rank()
print(df)

    race/ethnicity parental level of education         lunch  \
1          group C                some college      standard
6          group B                some college      standard
8          group D                 high school  free/reduced
13         group A                some college      standard
18         group C             master's degree  free/reduced
..             ...                         ...           ...
990        group E                 high school  free/reduced
991        group B            some high school      standard
995        group E             master's degree      standard
997        group C                 high school  free/reduced
998        group D                some college      standard

    test preparation course  math score  reading score  writing score  \
1                 completed          69             90             88
6                 completed          88             95             92
8                 completed          64             64             67
13                completed          78             72             70
18                completed          46             42             46
..                      ...         ...            ...            ...
990               completed          86             81             75
991               completed          65             82             78
995               completed          88             99             95
997               completed          59             71             65
998               completed          68             78             77

     ranked_column
1            302.0
6            326.5
8             95.5
13           126.5
18            10.5
..             ...
990          171.0
991          208.0
995          340.0
997           81.0
998          194.5

[358 rows x 8 columns]

In [14]:
# Sort the DataFrame by a column
sorted_df = df.sort_values('writing score')
print(sorted_df)

    race/ethnicity parental level of education         lunch  \
842        group B                 high school  free/reduced
862        group D           bachelor's degree  free/reduced
131        group C            some high school  free/reduced
902        group A                 high school  free/reduced
136        group B            some high school      standard
..             ...                         ...           ...
916        group E           bachelor's degree      standard
165        group C           bachelor's degree      standard
685        group E             master's degree      standard
903        group D           bachelor's degree  free/reduced
403        group D                 high school      standard

    test preparation course  math score  reading score  writing score  \
842               completed          23             44             36
862               completed          39             42             38
131               completed          53             37             40
902               completed          34             48             41
136               completed          51             54             41
..                      ...         ...            ...            ...
916               completed         100            100            100
165               completed          96            100            100
685               completed          94             99            100
903               completed          93            100            100
403               completed          88             99            100

     ranked_column
842            1.0
862            2.0
131            3.0
902            4.5
136            4.5
..             ...
916          354.0
165          354.0
685          354.0
903          354.0
403          354.0

[358 rows x 8 columns]

In [15]:
# (e) Perform statistical operations on given columns
# Calculate mean, median, and standard deviation
mean_value = df['writing score'].mean()
median_value = df['writing score'].median()
std_value = df['writing score'].std()
print("Mean",mean_value)
print("Median",median_value)
print("Standard deviation",std_value)

Mean 74.41899441340782
Median 76.0
Standard deviation 13.37533484363066

In [16]:
# (f) Find count and uniqueness of categorical values
# Count of unique values in a column
count_values = df['writing score'].value_counts()
print(count_values)

80    15
68    15
77    14
78    13
81    13
      ..
55     1
36     1
38     1
61     1
48     1
Name: writing score, Length: 61, dtype: int64

In [17]:
# Number of unique values in a column
unique_values = df['writing score'].nunique()
print(unique_values)

61

In [18]:
# (g) Rename single/multiple columns
# Rename a single column
df = df.rename(columns={'writing score': 'Scored Marks'})
print(df)

    race/ethnicity parental level of education         lunch  \
1          group C                some college      standard
6          group B                some college      standard
8          group D                 high school  free/reduced
13         group A                some college      standard
18         group C             master's degree  free/reduced
..             ...                         ...           ...
990        group E                 high school  free/reduced
991        group B            some high school      standard
995        group E             master's degree      standard
997        group C                 high school  free/reduced
998        group D                some college      standard

    test preparation course  math score  reading score  Scored Marks  \
1                 completed          69             90            88
6                 completed          88             95            92
8                 completed          64             64            67
13                completed          78             72            70
18                completed          46             42            46
..                      ...         ...            ...           ...
990               completed          86             81            75
991               completed          65             82            78
995               completed          88             99            95
997               completed          59             71            65
998               completed          68             78            77

     ranked_column
1            302.0
6            326.5
8             95.5
13           126.5
18            10.5
..             ...
990          171.0
991          208.0
995          340.0
997           81.0
998          194.5

[358 rows x 8 columns]

In [19]:
# Rename multiple columns
df = df.rename(columns={'Scored Marks': 'writing score', 'ranked_column': 'Ranks'})
print(df)

    race/ethnicity parental level of education         lunch  \
1          group C                some college      standard
6          group B                some college      standard
8          group D                 high school  free/reduced
13         group A                some college      standard
18         group C             master's degree  free/reduced
..             ...                         ...           ...
990        group E                 high school  free/reduced
991        group B            some high school      standard
995        group E             master's degree      standard
997        group C                 high school  free/reduced
998        group D                some college      standard

    test preparation course  math score  reading score  writing score  Ranks
1                 completed          69             90             88  302.0
6                 completed          88             95             92  326.5
8                 completed          64             64             67   95.5
13                completed          78             72             70  126.5
18                completed          46             42             46   10.5
..                      ...         ...            ...            ...    ...
990               completed          86             81             75  171.0
991               completed          65             82             78  208.0
995               completed          88             99             95  340.0
997               completed          59             71             65   81.0
998               completed          68             78             77  194.5

[358 rows x 8 columns]